/* Coolors Exported Palette - coolors.co/000000-f8ca00-fdfffc-77092f-564e58 */

/* HSL */
$color1: hsla(0%, 0%, 0%, 1);
$color2: hsla(49%, 100%, 49%, 1);
$color3: hsla(100%, 100%, 99%, 1);
$color4: hsla(339%, 86%, 25%, 1);
$color5: hsla(288%, 6%, 33%, 1);

/* RGB */
$color1: rgba(0, 0, 0, 1);
$color2: rgba(248, 202, 0, 1);
$color3: rgba(253, 255, 252, 1);
$color4: rgba(119, 9, 47, 1);
$color5: rgba(86, 78, 88, 1);